.target-text-container {
    color: #979797;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    font-size: 1.7vw;
    z-index: 1;
    animation: wordsAnim 1s;
}
@keyframes wordsAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.word-elem {
    display: flex;
    margin: 5px;
}
.word-elem:hover{
    cursor: text;
}
.letter-elem {
    margin: 0.5px;
    transition: 255ms;
}
.correct {
    color: rgb(255, 255, 255);
}
.wrong{
    color: rgb(255, 61, 61);
}
.current-letter{
    border-bottom: 1px solid gray;
    transform: scale(1.3);
}
.space{
    border-bottom: 1px solid gray;
    padding: 2px;
}
.invi-input{
    opacity: 0;
}